.easy_social_box.vertical div.easy_social-widget-pinterest {
  height: 68px;
}
.easy_social_box
.easy_social-widget-pinterest
span.easy-social-pinterest-button
a {
  top: 40px;
}
.easy_social_box
.easy_social-widget-pinterest
span.easy-social-pinterest-button
a
span {
}